body{
    background-image: white;
   
}
.container-fluid{
    text-align: center;
    justify-content: center;
    background-color: darkgoldenrod;
    position: sticky;

}
h1{
    color:brown;

}
h3{
    color: cadetblue;
    font-style: italic;
    padding-bottom: 10px;
}

p{
    color: green;
}
#postinput{
    display:none;
}
button{
    margin-top: 10px;
}
